body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    160deg,
    rgba(0, 0, 0, 1) 54%,
    rgba(255, 255, 255, 1) 66%
  );
}

.title {
  text-align: center;
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  color: aqua;
}

a {
  color: aqua;
}
#ghostface {
  display: block;
  margin: 0 auto;
  width: 800px;
  border-radius: 3%;
}

.email {
  color: red;
}

.contents {
  color: red;
  text-align: center;
}
